<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Cafe</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    .navbar{
        margin-bottom: 50px;
        background-color: #EDE4E3;
    }
    .card{
        margin-bottom: 20px;
    }
</style>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="/">Virtual Cafe</a>
            <div class="nav navbar-right">
                <button type="" class="create_new_room text-white btn btn-success" data-toggle="modal" data-target="#create_room_modal">+ Create Room</button>
            </div>  
        </div>      
    </nav>
    <div class="container">
        <div class="row">
            <% if(user_map.length >0 ){ %>
                <% user_map.forEach(function(user){ %>
                <div class="col-6">
                    <div class="card shadow p-3 mb-5 bg-white rounded">
                        <div class="card-header">
                            <%- user.roomName%> <%- user.created_by%>
                        </div>
                        <div class="card-body">
                          <p class="card-text"><%- user.roomDesc%></p>
                          <div class="text-center">
                            <a href = "#"  class="btn btn-primary join_button" data-toggle="modal" data-target="#join_room_modal_<%- user.room_link%>">Join</a>
                          </div>
                        </div>
                        <!-- Join Room Modal -->
                        <div id = "join_room_modal_<%- user.room_link%>"  class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <form action = "/joinRoom" , method="post">
                                        <div class="modal-body">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <div class="form-group">
                                                <h3>Join Room</h3>
                                            </div>
                                            <div class="form-group">
                                                <label class="font-weight-bold" for = "join_name">Enter Your Name</label>
                                                <input type = "text" class="form-control join_name" name = "join_name" value = "" required>
                                            </div>
                                            <div class="text-center">
                                                <button type="submit" class="btn btn-primary join_submit">Submit</button>
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" name = "room_url" value = "<%- user.room_link%>">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            <% } else { %>
                <li>There are no active Rooms . You can create One </li>
            <% } %>
        </div>
    </div>
    <!-- create Room Modal -->
    <div class="modal fade" id="create_room_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form action="/createRoom" , method="post", onsubmit= "return createRoomValidation()">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="form-group">
                            <label class="font-weight-bold" for="room_name">Room Name</label>
                            <input type="text" class="form-control room_name" name="room_name" value="" required>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="room_desc">Description</label>
                            <textarea type="text" class="form-control rounded-0 room_desc" rows="3" name="room_desc" placeholder="Description"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold" for="user_name">Enter your Name</label>
                            <input type="text" class="form-control user_name" name="user_name" value="" required>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script>
        function createRoomValidation(){
            var room_name = $(".room_name").val();
            var user_name = $(".user_name").val();
            if(room_name == undefined || room_name == ""){
                alert("Enter the Room Name")
                return false;
            }
            if(!is_anonymous && (user_name == undefined || user_name == "")){
                alert("Enter the UserName")
                return false;
            }
            return true;
        }

        function joinRoomValidation() {
            var join_name = $(".join_name").val();
            if(!is_anonymous && (user_name == undefined || user_name == "")){
                alert("Enter the UserName")
                return false;
            }
            return true;
        }

        function joinRoom(link){
            window.location.href = link;
        }
    </script>
</html>