<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
    const ROOM_NAME = "<%= room_name %>"
    const USER_NAME = "<%= user_name %>"
    const ROOM_DESC = "<%= room_desc %>"
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
  <!-- <link rel="stylesheet" href="style.css"> -->
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <title>Virtual Cafe</title>
  <style>
    #video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      grid-auto-rows: 300px;
      padding: 10px;
      margin: 10px;
    }
    .vid{
      background:black;
      height: 100%;
      margin: 0;
    }
    .audio_node {
      width: 100%;
      height: 100%;
      border : 1px solid black;
    }
    .leave_meeting{
      justify-content: center;
      align-items: center;
      margin-left: 35%;
      margin-top: 10%;
      margin-bottom: 5%;
      display: flex;
    }
    .center {
      margin: 1px solid black;
      margin: auto;
      position: absolute;
      top: 10%;
      left : 20%;
      width: 60%;
      border: 1px solid black;
    }
    .member {
      margin-top: 10%;
    }
    .center {
      background: #ddebf0;
    }
    .speaker-name-container {
      display: flex;
    }
    #muteUnmute{
      background-color: #858382;
      font-weight: bold;
      width:80px;
    }

    #muteUnmute:hover{
      background-color: #CDCCCB;
      cursor : pointer;
    }

    .leaveButtonClass{
      background-color: #BA2A0C;
    }

    .leaveButtonClass:hover{
      background-color: #E04625;
      cursor : pointer;
    }

    .fas{
      font-size: 26px;
    }

    .mutebutton{
      display: flex;
      margin-right: 40%;
    }
  </style>
</head>
<body>
  <div class = "center">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1 class="navbar-brand text-white"> <%- room_name %></h1>
            <h3 class="navbar-brand text-white"> <%- room_desc %></h3>
        </div>      
      </nav>
      <div class = "container">
        <div id="video-grid">

        </div>
        <div class = "speaker">
            <h2>Speakers</h2>
            <div class = "speaker-container">
                <%- speakers %>
                <% if(speakers != undefined && speakers.length > 0) { %>
                  <div class = "speaker-name-container">                    
                    <% speakers.forEach(function(speaker){ %>
                      <h4> <%- speaker.user_name %></h4>
                    <% }); %>
                  </div>
              <% } %>
            </div>
        </div>

        <div class = "member">
          <div class = "member-container">
            <%- members %>
            <% if(members != undefined && members.length > 0) { %>
              <h2>Members</h2>
                <% members.forEach(function(member){ %>
                <h4> <%- member.user_name %></h4>
                <% });%>
            <% } %>
          </div>
        </div>
        <div class="leave_meeting">
          <div class="mutebutton">   
            <i class="fas fa-microphone"></i>
            <button id="muteUnmute" style="color: black; border-radius: 5px;" onclick="muteUnmute()">Mute</button>
          </div>
          <div class>
            <button class="leaveButtonClass" style="color: white; border-radius: 5px;" onclick="leaveMeeting()">Leave Meeting</button>
          </div>
        </div>
      </div>
   </div>
</body>
<script src="script.js" defer></script>
</html>