<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
    const ROOM_NAME = "<%= room_name %>"
    const USER_NAME = "<%= user_name %>"
    const ROOM_DESC = "<%= room_desc %>"
  </script>
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <title>Virtual Cafe</title>
  <style>
    .navbar{
      margin-bottom: 10%;
    }
    hr{
      border-radius: 3px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Virtual Cafe</a>
    </div>      
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-2 col-8">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-header">
            <h1><b><%- room_name %></b></h1>
            <p><%- room_desc %></p>
          </div>
          <div class="card-body">
            <div class="form-group" style="display: flex;">
              <div class="speakers">
                <h3><b>Speakers</b></h3>
                <br>
                <% isone_of_the_speaker = false %>
                  <% if(speakers != undefined && speakers.length > 0) { %>
                    <div class = "speaker-name-container">                    
                      <% speakers.forEach(function(speaker){ %>
                          <i class="far fa-user-circle"> <%- speaker.user_name %> </i>
                          <% if(speaker.user_name ==  user_name ) {%>
                            <% isone_of_the_speaker = true %>
                          <% }%>
                      <% }); %>
                    </div>
                <% } %>
              </div>
              <% if(isone_of_the_speaker) {  %>
                <div class="invitespeakers" style="margin-left : 50%">
                    <button class="btn btn-primary add_speaker" data-target="#add_speaker_modal" data-toggle="modal">+ Add Speaker</button>  
                </div>
              <% } %>
            </div>
            <hr class="mt-3 mb-3leaveButtonClass"/>
            <br>
            <% if(members != undefined && members.length > 0) { %>
                <h3><b>Members</b></h3> 
                <% members.forEach(function(member){ %>
                  <% if(member.user_name != undefined && member.user_name != null) { %>
                    <i class="far fa-user-circle form-group"> <%- member.user_name %></i>
                    <br>
                <% } });%>
            <% } %>

            <hr class="mt-3 mb-3leaveButtonClass"/>

            <div class="text-center">
              <button class="btn btn-primary" id="muteUnmute" onclick="muteUnmute()"><span><i class="fas fa-microphone"></i></span> Mute</button>
              <button class="btn btn-danger" onclick="leaveMeeting()"><span><i class="fas fa-sign-out-alt"></i></span> Leave</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>

  <!-- add speaker modal -->
  <div class="modal fade" id="add_speaker_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="form-group">
                    <label class="font-weight-bold" for="room_name">Copy the Link</label>
                    <input type="text" class="form-control speaker_join_link" name="room_name" value = "" required>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="script.js" defer></script>

<script>
  $(".add_speaker").on("click",function(e){
    var url = window.location.origin
    var patharray =  window.location.pathname.split( '/' );
    console.log(patharray)
    url = url + "/inviteSpeaker/"+ patharray[1]
    $(".speaker_join_link").val(url)
  })
</script>
</html>