<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>"
    const ROOM_NAME = "<%= room_name %>"
    const USER_NAME = "<%= user_name %>"
    const ROOM_DESC = "<%= room_desc %>"
  </script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <title>Virtual Cafe</title>
  <style>
    .navbar{
      margin-bottom: 10%;
    }
    hr{
      border-radius: 3px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">Virtual Cafe</a>
    </div>      
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="offset-md-2 col-8">
        <div class="card shadow p-3 mb-5 bg-white rounded">
          <div class="card-header">
            <h1><b><%- room_name %></b></h1>
            <p><%- room_desc %></p>
          </div>
          <div class="card-body">
            <h3><b>Speakers</b></h3>
            <br>
            <i class="far fa-user-circle"> speaker name</i>
          
            <hr class="mt-3 mb-3leaveButtonClass"/>
          
            <h3><b>Members</b></h3>
            <br>
            <i class="far fa-user-circle"> member name</i>

            <hr class="mt-3 mb-3leaveButtonClass"/>

            <div class="text-center">
              <button class="btn btn-primary" id="muteUnmute" onclick="muteUnmute()"><span><i class="fas fa-microphone"></i></span> Mute</button>
              <button class="btn btn-danger" onclick="leaveMeeting()"><span><i class="fas fa-sign-out-alt"></i></span> Leave</button>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="script.js" defer></script>
</html>